<mat-checkbox>
subscribe
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before">
subscribe
</mat-checkbox>
<br>
<mat-checkbox labelPosition="after">
subscribe
</mat-checkbox>
<br>
<mat-checkbox color="primary">
subscribe
</mat-checkbox>
<br>
<mat-checkbox color="warn">
subscribe
</mat-checkbox>
<br>
<mat-radio-group>
  <mat-radio-button value="angular" color="primary">Angular</mat-radio-button>
  <mat-radio-button value="react">React</mat-radio-button>
  <mat-radio-button value="vue" color="warn">Vue</mat-radio-button>
</mat-radio-group>