<mat-accordion multi="true">
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular Fundamentals
        </mat-panel-title>
        <mat-panel-description>
            Total Duraton:3 hrs
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is panel content . Add Course Details </p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header >
        <mat-panel-title>
            Angular material
        </mat-panel-title>
        <mat-panel-description>
            Total Duraton:2 hrs
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is panel content . Add Course Details </p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
</mat-accordion>