<mat-sidenav-container>
    <!-- <mat-sidenav  mode="over" [(opened)]="opened">Sidenav</mat-sidenav>
    <mat-sidenav  mode="push" [(opened)]="opened">Sidenav</mat-sidenav> -->
    <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened">Sidenav</mat-sidenav>
    <mat-sidenav-container>Main
        <button (click)="opened=!opened">Toggle Opened</button>
        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">Close</button>
        <button (click)="sidenav.toggle()">Toggle</button>
    </mat-sidenav-container>
</mat-sidenav-container>