<mat-form-field>
    <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue">
        <mat-option >None</mat-option>
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="react">React</mat-option>
        <mat-option value="vue">Vue</mat-option>
        <mat-option value="java">Java</mat-option>
        <mat-option value="python">Python</mat-option>
    </mat-select>
</mat-form-field>
{{selectedValue}}
<div>
    <mat-form-field>
        <mat-label>Topic</mat-label>
        <mat-select [(value)]="selectedValue2">
            <mat-option >None</mat-option>
            <mat-optgroup label="WEB">
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="react">React</mat-option>
            <mat-option value="vue">Vue</mat-option>
            <mat-option value="java">Java</mat-option>
            <mat-option value="python">Python</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Mobile">
        <mat-option value="ionic">Ionic</mat-option>
        <mat-option value="reactnative">React-Native</mat-option>
        <mat-option value="xamarin">Xamarin</mat-option>
    </mat-optgroup>
        </mat-select>
    </mat-form-field>
    {{selectedValue2}}
</div>
<div>
    <mat-form-field>
        <mat-label>Topic</mat-label>
        <mat-select [(value)]="selectedValue3" multiple>
            <mat-option >None</mat-option>
            <mat-optgroup label="WEB">
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="react">React</mat-option>
            <mat-option value="vue">Vue</mat-option>
            <mat-option value="java">Java</mat-option>
            <mat-option value="python">Python</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Mobile">
        <mat-option value="ionic">Ionic</mat-option>
        <mat-option value="reactnative">React-Native</mat-option>
        <mat-option value="xamarin">Xamarin</mat-option>
    </mat-optgroup>
        </mat-select>
    </mat-form-field>
    {{selectedValue3}}
</div>